@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
@import 'variables.scss';
@import "datatable.scss";

footer {
    text-align: center;
    font-size: 88%;
    margin-top: 50px;
}